.profile__addButton {
    margin: 0 0 0 auto;
    border: 2px solid #FFFFFF;
    padding: 14px 64px;
    background-image: url("../../../images/profile__addButton.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    min-width: 150px;
    min-height: 50px;
    transition: 0.3s ease-in-out;
}


@media screen and (max-width: 750px){
    .profile__addButton {
        min-width: 282px;
        padding: 17px 133px;
    }
}


.profile__addButton:hover {
    opacity: 0.6;
    cursor: pointer;
}